/* Box */

.box {
  border-radius: 4px;
  border: solid 1px #dee1e3;
  margin-bottom: 2em;
  overflow: hidden;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box .image.fit {
  margin: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

/* Image */

.image {
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

/* Flex */

.flexItem {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 30%;
  justify-content: space-between;
}

.flexItem h3 {
  margin-top: 1em;
  text-align: center;
}

.flexItem > *:not(.image) {
  padding: 0 1.5em;
}

.content {
  padding: 1.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.content > *,
.flexItem > *:not(h3) {
  margin: 0;
  text-align: center;
}

.price {
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
}

.priceTag {
  color: #25a2c3;
  
}

.btnContainer {
  padding: 2em;
}

@media screen and (max-width: 980px) {
  .flex {
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

/* Button */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #25a2c3;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 3.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

.button:hover {
  background-color: #76caf7;
  color: white;
}

.button:active {
  background-color: #25a2c3;
}

.button.fit {
  display: block;
  margin: 0 0 1em 0;
  width: 100%;
}

.button.small {
  font-size: 0.8em;
}

.button.disabled {
  background-color: #767d85 !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  .button {
    padding: 0;
  }
}

@media screen and (max-width: 980px) {
  .three {
    text-align: center;
  }
}

