
body {
    padding-top: 6em;
  }
  
  .header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 6em;
    left: 0;
    line-height: 6em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: center;
  }
  
  .header .logo {
    color: #25a2c3;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -5px;
    text-decoration: none;
    display: inline-block;
  }
  
  .header nav {
    position: absolute;
    top: 0;
    height: inherit;
    line-height: inherit;
  }
  
  .header nav.left {
    left: 2em;
  }
  
  .header nav.right {
    right: 2em;
  }
  
  .header nav .button {
    padding: 0 2em;
    height: 3.25em;
    line-height: 3.25em;
  }
  
  .header nav a {
    text-decoration: none;
    display: inline-block;
  }
  
  .header nav .menuBurger {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 2em;
    color: #dee1e3;
    z-index: 10005;
  }
  
  .header nav .menuBurger:before {
    content: "";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  
  .header nav .menuBurger span {
    display: none;
  }
  
  .header nav .menuBurger:before {
    margin: 0 0.5em 0 0;
  }

button,
.button {
    margin: 0 0.25em;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: #4666f5;
  border-radius: 4px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 3.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

button:hover,
.button:hover {
  background-color: #76caf7;
}

button:active,
.button:active {
  background-color: #4666f5;
}


button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dee1e3;
  color: #727a82 !important;
}


button.alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.2);
}


button.alt:active,
.button.alt:active {
  background-color: rgba(144, 144, 144, 0.3);
}


button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: #767d85 !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}

@media screen and (max-width: 480px) {
  
  button,
  .button {
    padding: 0;
  }
}
  
  @media screen and (max-width: 980px) {
    body {
      padding-top: 44px;
    }
  
    .header {
      height: 44px;
      line-height: 44px;
    }
  
    .header .logo {
      font-size: 1.25em;
      text-align: center;
    }
  
    .header nav .menuBurger {
      font-size: 1.5em;
    }
  
    .header nav.left {
      left: 1em;
    }
  
    .header nav.right {
      display: none;
    }
  }
  
  @media screen and (max-width: 480px) {
    .header {
      min-width: 320px;
    }
  }
  